<app-home></app-home>

<body class="hm-gradient">  
    <main id="main" class="main"> 
        <div class="container">
            <div class="card">
              <div class="box">
                <div class="content">
                  <h3>Adhérents</h3>
                  <p>{{nbAdherants[0].nba}}</p>
                  <a [routerLink]="['/adherants']">Plus ++</a>
                </div>
              </div>
            </div>
            <div class="card">
                <div class="box">
                  <div class="content">
                    <h3>Sections </h3>
                    <p>{{nbSections[0].nbs}}</p>
                    <a [routerLink]="['/sections-statistique/']">Plus ++</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="box">
                  <div class="content">
                    <h3>Bénévoles </h3>
                    <p>{{nbBenevole[0].nbb}}</p>
                    <a [routerLink]="['/benevole-statistique/']">Plus ++</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="box">
                  <div class="content">
                    <h3>Employés </h3>
                    <p>{{nbEmploye[0].nbe}}</p>
                    <a [routerLink]="['/employe-statistique/']">Plus ++</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="box">
                  <div class="content">
                    <h3>Services civiques</h3>
                    <p></p>
                    <a href="#">Plus ++</a>
                  </div>
                </div>
              </div>
            <div class="card">
                <div class="box">
                  <div class="content">
                    <h3>Dirigeants </h3>
                    <p>{{nbDirigeant[0].nbd}}</p>
                    <a [routerLink]="['/dirigeants-statistique/']">Plus ++</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="box">
                  <div class="content">
                    <h3>Stagiaires</h3>
                    <p></p>
                    <a href="#">Plus ++</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="box">
                  <div class="content">
                    <h3>Evolutions annuelles</h3>
                    <p></p>
                    <a [routerLink]="['/evolutionsAnnuelles/']">Plus ++</a>
                  </div>
                </div>
              </div>
          
            
            
          </div>
          
    </main>
</body>
