<app-home></app-home>
<body class="hm-gradient">  
  <main id="main" class="main">
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Répartition hommes/femmes</h5>
          <div id="chart_div2"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Répartition par âge</h5>
          <div id="chart_div4"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Grinois/Autre</h5>
          <div id="chart_div3"></div>
        </div>
      </div>
    </div>

  

    <!-- Two charts per row -->
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nombre d'adhérents par saison</h5>
            <div id="chart_div_saison"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nombre d'adhérents par statut d'adhésion</h5>
            <div id="chart_div_adhesion"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nombre d'adhérents par section</h5>
            <div id="chart_div_sections"></div>
          </div>
        </div>
      </div>

  

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Évolution annuelle du nombre d'adhérents total 2021</h5>
            <div id="chart_div"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
