<ng-template #test>
    <div class="form-section">
        <h3>Informations Parent 1</h3>
      <div class="form-group">
      <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" placeholder="Nom du Parent" formControlName="nomParent" class="form-control" id="nomParent">
          </div>
      </div>
      <!-- Champ Email du Parent -->
      <div class="col-md-6 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="text" placeholder="Prenom du Parent" formControlName="prenomParent" class="form-control" id="prenomParent">
          </div>
      </div>
      </div>
      <div class="form-group">
      <div class="col-md-6 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" placeholder="genre du Parent" formControlName="sexeParent" class="form-control" id="sexeParent">
        </div>
    </div>
    <!-- Champ Email du Parent -->
    <div class="col-md-6 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="email" placeholder="Email du Parent" formControlName="emailParent" class="form-control" id="emailParent">
        </div>
    </div> 
     </div>
    <div class="form-group">
    <div class="col-md-6 inputGroupContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" placeholder="Tel du Parent" formControlName="telParent" class="form-control" id="telParent">
      </div>
  </div>
  <!-- Champ Email du Parent -->
  <div class="col-md-6 inputGroupContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="text" placeholder="num voie" formControlName="numVoie" class="form-control" id="numVoie">
      </div>
  </div>
    </div>
    <div class="form-group">
  <div class="col-md-6 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" placeholder="voie" formControlName="voieParent" class="form-control" id="voieParent">
    </div>
</div>
<!-- Champ Email du Parent -->
<div class="col-md-6 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="date" placeholder="dateNaissanceP" formControlName="dateNaissanceP" class="form-control" id="dateNaissanceP">
    </div>
</div>
     </div>
    </div>
</ng-template>